*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#background {
    height: max-content;
    width: 100%;
    background-image: url("./imgs/Its\ christmas\ baby.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
h1 {
    color: #ea0000;
    margin: 20px;
    font-size: 50px;
    text-shadow: 3px 0px black;
}
h3 {
    border-radius: 3px;
    display: block;
    
    max-width: fit-content;
    color: #ea0000;
    margin: 10px;
    text-shadow: 3px 0px black;
    font-size: 30px;
}
.greenletters {
    color: #13a43f;
}
.flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#homer {
    max-width: fit-content;
    border-radius: 3px;
    background-color: white;
    color: limegreen;
    font-size: 40px;
}